@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.shop:hover {
    scale: 1.2;
    transition-duration: 500ms;
        
    }

.log-btn:hover .log{
    display: block;
}
.logout-btn:hover .logout{
    display: block;
}
.scale:hover img{
    scale: 1.2;
    transition-duration: 500ms; 
    }
    .products{
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
.products:hover img{
    scale: 1.2;
    transition-duration: 500ms; 
   
    }

    .products:hover .hover{
        display: block;
    } 
       .hover-content1:hover .text1,
       .hover-content2:hover .text2 {
        display: block;
      }
.offers ion-icon{
    font-size:1.5rem
}
.del{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.active{
border-bottom: 3px solid white;
border-radius: 4px;
}

.hov:hover {
    border-bottom: 3px solid white;
border-radius: 4px;
}
nav li:hover{
    border-bottom: 3px solid white;
    border-radius: 4px;
}
.loader {
  z-index: 1000;
  position: fixed;
  top: 40%;
  right: 45%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-left: 4px solid gray;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@media (max-width: 767px) {
    .lg:flex {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 10px; 
    }
  }
 
  
  
  
  
  
  
   