@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.log-btn:hover .log{
    display: block;
}
.logout-btn:hover .logout{
    display: block;
}
.scale:hover img{
    scale: 1.2;
    transition-duration: 500ms; 
    }

    .products:hover .hover{
        display: block;
    } 
       .hover-content1:hover .text1,
       .hover-content2:hover .text2 {
        display: block;
      }
.offers ion-icon{
    font-size:1.5rem
}
    