@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.shop:hover {
    scale: 1.2;
    transition-duration: 500ms;
        
    }

.log-btn:hover .log{
    display: block;
}
.logout-btn:hover .logout{
    display: block;
}
.scale:hover img{
    scale: 1.2;
    transition-duration: 500ms; 
    }
    .products{
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
.products:hover img{
    scale: 1.2;
    transition-duration: 500ms; 
   
    }

    .products:hover .hover{
        display: block;
    } 
       .hover-content1:hover .text1,
       .hover-content2:hover .text2 {
        display: block;
      }
.offers ion-icon{
    font-size:1.5rem
}
.del,.quick{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.alert{
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.active:after{
border-bottom: 3px solid white;
width: 100%;
}
nav li::after{
  content: '';
  width: 0%;
  height:2px;
  background: white;
  display: block;
  margin: auto;
  border-radius: 2px;
  transition: 0.5s;
}
nav li:hover::after{
  width: 100%;
}

.hov:hover {
    border-bottom: 3px solid white;
border-radius: 4px;
}
/* nav li:hover{
    border-bottom: 3px solid white;
    /* border-radius: 4px; */
/* } */

/* .loader {
  z-index: 1000;
  position: fixed;
  top: 40%;
  right: 50%;
  transform: translate(-50%,-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-left: 4px solid gray;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}  */


/* button loader */
.loader-btn{
  width: 20px;
  height: 20px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
/* content loader */
.loader {
    position: fixed;
  transform: translate(-50%,-50%);
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: gray;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  .notification{
    font-size: 2rem;
  }
  
  .shadow,.imageDiv{
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .magenta{
    background-color: #EE6524;
  }

.pagination{
  display: flex;
  justify-content: center;
}
.page-item{
  background-color: white;
  border:1.5px solid rgb(17 24 39);
  padding: 5px 15px;
  transition: all 0.2s;
  cursor: pointer;
}
.page-item:first-child{
border-radius: 5px 0 0 5px;
}
.page-item:last-child{
border-radius: 0 5px 5px 0;
}
.page-link{
  transition: all 0.2s;
}
.page-item:hover{
  background-color: rgb(156 163 175);
  color:white;
}
.pageItemActive{
  background-color: rgb(156 163 175);
}
.pageLinkActive{
  color: white;
}
.filter{
  width: 7rem;
}
  @media only screen and (max-width: 768px) {
    .items{
      align-items: center;
    }
    .imageDiv{
      border-top: 10px;
    }
    .shadow{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  select:focus {
    border: 1px solid gray;
    outline: none; 
  }
 .storeIcons{
  color:#111827;
}
.caret-down{
  color: rgb(255, 255, 255);
  font-size: 18px;
}
@media only screen and (max-width: 640px) {
  .storeIcons{
flex-wrap: wrap;
  }
}

#registerImage input::file-selector-button{
  cursor: pointer;
  z-index: 2;
  height: 5vh;
  width: 100%;
  margin: 0%;
  background-color: gray;
  transition: all 0.5s;
  color:white;
  padding: 0 1vmax;
}
.trash{
  color: #EE6524;
}

.MuiStepConnector-line{
  display: none !important;
}
.MuiStepConnector-root{
  height:1px;
  background-color: rgba(0,0,0,0.349);
}
.MuiStepConnector-active,
.MuiStepConnector-completed{
  background-color: #EE6524;
}
